# CMAKE Mess
/cmake-build-debug/

# PyCharm Mess
.idea

# Jupyter Mess
.ipynb_checkpoints

# GUROBI License & other license files
*.lic

# Builds
builds/*

# PDFs
*.pdf

# CSV Data
*.csv

# Parquet Data
*.pq
*.parquet

# REDIS Data
*.rdb
*.aof
